@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(60deg, #29323c 0%, #000 100%);
}

.gradient-text {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-card:hover {
  background-color: #e4e4e1;
  background-image: radial-gradient(
      at top center,

      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    );
  background-blend-mode: normal, multiply;
  color: #000 !important;
  transition: 0.5s all;
  cursor: pointer;
}

.whatsapp button {
  border: none;
  outline: none;
}
.button-wpp {
  width: 74px;
  height: 74px;
  background: transparent;
  position: fixed;
  left: 30px;
  bottom: 20px;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wpp button {
  border: none;
  outline: none;
}

.button-wpp:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  right: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0,
    rgba(0, 0, 0, 0) 80%
  );
  border: none;
  outline: none;
}

.button-wppl:hover {
  cursor: pointer;
}

.jumping {
  animation: jump 3s infinite ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}
